In [94]:
import os
import glob
import json
import pandas as pd
import numpy as np
from datetime import datetime
import dateutil.parser
import pytz
import matplotlib.pyplot as plt

In [3]:
news_path = '../Data/News/'
stock_path = '../Data/CHARTS/'

### Parsing news data
Read news json files and index by time stamp. Stored in news_df DataFrame. Relative path of each json file stored in DF. Access text via json['text'] key. TimeStamp converted to Eastern.

In [207]:
times = []
news_file_loc = []
time_zone = pytz.timezone('US/Eastern')
json_files = glob.glob(news_path + '*/*.json')
for news in json_files:
    with open(news, 'r') as f:
        d = json.load(f)
        iso_time = dateutil.parser.isoparse(d['published']).astimezone(time_zone)
        #print (d['published'])
        #print (iso_time)
        times.append(iso_time)
        news_file_loc.append(news)

In [206]:
news

'../Data/News/2018-03/news_0004712.json'

In [208]:
news_df = pd.DataFrame({'timestamp': times, 'news_file_loc': news_file_loc })

In [210]:
news_df

                      timestamp                           news_file_loc
0     2018-05-14 05:13:00-04:00  ../Data/News/2018-05/news_0004667.json
1     2018-05-19 14:57:00-04:00  ../Data/News/2018-05/news_0008095.json
2     2018-05-07 09:31:00-04:00  ../Data/News/2018-05/news_0002293.json
3     2018-05-06 20:00:00-04:00  ../Data/News/2018-05/news_0002860.json
4     2018-05-01 20:02:00-04:00  ../Data/News/2018-05/news_0001169.json
...                         ...                                     ...
78050 2018-03-02 09:22:00-05:00  ../Data/News/2018-03/news_0001041.json
78051 2018-03-22 20:00:00-04:00  ../Data/News/2018-03/news_0004700.json
78052 2018-03-03 11:43:00-05:00  ../Data/News/2018-03/news_0001154.json
78053 2018-03-06 14:05:00-05:00  ../Data/News/2018-03/news_0001066.json
78054 2018-03-22 16:22:00-04:00  ../Data/News/2018-03/news_0004712.json

[78055 rows x 2 columns]

### Reading CHARTS stock data
Timezone converted. Example done for APPLE240, change accordingly.

In [203]:
headers = ['date', 'time', 'open', 'close', 'low', 'high', 'volume']
df = pd.read_csv(stock_path + "APPLE240.csv", header=None, names = headers)
df['timestamp'] = pd.to_datetime(df['date'] + ' ' + df['time']).dt.tz_localize(time_zone)
del df['date'], df['time']

In [204]:
df.head()

     open   close     low    high  volume                 timestamp
0  93.159  93.661  93.028  93.651    1287 2014-06-30 13:30:00-04:00
1  93.661  94.194  93.420  93.460    1512 2014-06-30 17:30:00-04:00
2  93.973  94.546  93.611  94.546    3405 2014-07-01 13:30:00-04:00
3  94.536  94.546  93.993  93.993    1382 2014-07-01 17:30:00-04:00
4  94.344  94.515  93.791  94.043    3249 2014-07-02 13:30:00-04:00

In [201]:
df['timestamp']

0      2014-06-30 13:30:00-04:00
1      2014-06-30 17:30:00-04:00
2      2014-07-01 13:30:00-04:00
3      2014-07-01 17:30:00-04:00
4      2014-07-02 13:30:00-04:00
                  ...
3241   2019-01-31 13:30:00-05:00
3242   2019-01-31 17:30:00-05:00
3243   2019-01-31 21:30:00-05:00
3244   2019-02-01 13:30:00-05:00
3245   2019-02-01 17:30:00-05:00
Name: timestamp, Length: 3246, dtype: datetime64[ns, US/Eastern]

#### ignore
utcmoment_naive = datetime.datetime.utcnow()
utcmoment = utcmoment_naive.replace(tzinfo=pytz.utc)
utcmoment

#### TODO
* Join news_df and stock df based on timestamp.
*